body {
	margin-bottom: 50px;
}

h1 {
	font-family: 'Kalam', cursive;
	position: absolute;
	top: -24px
	
}

.here, .misfits, .round, .see, .space, .rules, .quo {
	display: flex;
	margin: 30px;
	position: fixed;
	left: 100px;
	width: 300px;
	height: 300px;
	font-family: 'Kalam', cursive;
	

}
