.one {
	position: absolute;
	font-family: 'Charmonman', cursive;
	top:0;
	font-size: 30px;
	opacity: .2;
	width: 1000px;
	height: 500px

}

.two {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	width: 400px;
	right: 400px;
	color: blue;
	font-size: 30px

}