.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

.cube {
  margin: 20px auto;
  background-color: white;
  border: solid;
  border-color: black;
  text-align: center;
  color: black
}

/*tablet stuff :-/ */
@media (min-width: 700px) {
  .flex {
    /*flex wrap tells the cubes to wrap around*/
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .cube {
    width: 40px;
    height: 40px;
    font-size: 20px
  }
}

h1 {
  font-weight: 30;
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  width: 50px;
  height: 30px;

}

.text {
  font-family: 'Archivo Black', sans-serif;
  position: absolute;
  width: 670px;
  top: 140px;
  left: 170px;
  font-size: 40px;
}
