@font-face {
	font-family: "cool";
	src: url(fonts/ChunkFive-Regular.woff2) format("woff2");
}

 @font-face {
 	font-family: "fish";
 	src: url(fonts/Findet-Nemo.ttf.woff) format("woff");
 }

 @font-face {
 	font-family: "star";
 	src: url(fonts/STARWARS.woff) format("woff");
 }

 @font-face {
 	font-family: "race";
 	src: url(fonts/racew17.woff) format("woff");
 }

h1{ font-weight: 100px;
	font-family: cool;


}

 .fish {
 	font-family: "fish";
 	font-size: 70px;
 	
 }

 .star {
 	position: relative;
 	font-family: "star";
 	font-size:60px;
 	top: -100px;
 	left: 200px

 }

 .car {
 	position: relative;
 	font-family: "race";
 	font-size: 30px;
 	top: -98px;
 	right: 10px;


 }

 .say {
 	position: absolute; 
 	font-family: "cool";
 	top: 400px;
 	font-size: 150px;
 	left: 250px;


 }




